@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Italiana", serif;
  background-color: #fffce6;
  overflow-x: hidden;
}

.slider {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.slider__bloc {
  scroll-snap-align: start;
}

/********** Header **********/
header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #000;
  z-index: 1;
}
header #title {
  font-family: "Italiana", serif;
  color: #fff;
  font-size: calc(3rem + 0.2vw);
  margin: 0;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 6rem;
}
header .menu {
  list-style-type: none;
  padding: 0;
  font-size: calc(1.2rem + 0.2vw);
}
header .menu__item {
  display: inline;
  padding: 0 0 0 2rem;
  transition: all 0.5s;
}
header .menu__item:hover {
  text-decoration: underline;
  color: #fff;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
header .menu__item a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.05rem;
}
header .sidenav {
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -100vw;
  background-color: #000;
  padding-top: 60px;
  transition: right 0.5s ease;
}
header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
header .sidenav a:hover {
  color: #111;
}
header .sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .sidenav.active {
  right: 0;
}
header .sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 25px;
}
header .rainbow {
  width: 100%;
}
header .rainbow__item {
  height: 0.5rem;
}

/********** Accueil **********/
#accueil {
  width: 100vw;
  height: 100vh;
}
#accueil .accueil__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 60%;
  transform: translateY(-50%);
}
#accueil .accueil__content #profile {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
#accueil .accueil__content p {
  padding: 10px;
  margin: 0 0 60px 0;
  font-family: "Italiana", serif;
  font-size: calc(3rem + 0.75vw);
}
#accueil .accueil__content p span {
  background: linear-gradient(to bottom, transparent 50%, #ffbe0b 50%);
  /* &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      box-shadow: 8px 8px 0 0 $background-dark;
      z-index: -1;
  } */
}
#accueil .accueil__content .button {
  width: 55px;
  height: 55px;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}
#accueil .accueil__content .button::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffbe0b, #ffa11b, #ff832e, #ff6441, #ff4553, #ff346c, #fc2987, #f12ca2, #d949c5, #b662e1, #8676f5, #3a86ff);
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
  transition: all 0.5s;
}
#accueil .accueil__content .button:hover::before {
  top: 0px;
  border-radius: 0;
}
#accueil .accueil__content .button #chevron {
  width: 40px;
  margin-top: 8px;
}

/********** Présentation **********/
#presentation {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}
#presentation .presentation__content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  max-width: 50%;
}
#presentation .presentation__content p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}
#presentation .presentation__content p span {
  font-size: 2.5rem;
}

/********** Projets **********/
#projets {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#projets .projets__content {
  width: 70%;
  height: auto;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  box-shadow: 8px 8px 0 0 #000;
}
#projets .projets__content .slider-projet {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projets .projets__content .slider-projet .slider-projet__img {
  max-width: 50%;
}
#projets .projets__content .slider-projet .slider-projet__img img {
  max-width: 100%;
  display: none;
}
#projets .projets__content .slider-projet .slider-projet__img img.active {
  display: block;
  animation: fade 0.8s;
}
#projets .projets__content .slider-projet .slider-projet__img img.active keyframes fade from {
  opacity: 0;
}
#projets .projets__content .slider-projet .slider-projet__img img.active keyframes fade to {
  opacity: 1;
}
#projets .projets__content .slider-projet .slider-projet__description {
  width: 100%;
}
#projets .projets__content .slider-projet .slider-projet__description .slider-projet__description__item {
  display: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
#projets .projets__content .slider-projet .slider-projet__description .slider-projet__description__item span {
  font-size: 2.5rem;
}
#projets .projets__content .slider-projet .slider-projet__description .slider-projet__description__item h1 {
  margin: 0 0 0.67em 0;
}
#projets .projets__content .slider-projet .slider-projet__description div.active {
  display: block;
  animation: fade 0.8s;
  padding-left: 3rem;
}
#projets .projets__content .slider-projet .slider-projet__description div.active keyframes fade from {
  opacity: 0;
}
#projets .projets__content .slider-projet .slider-projet__description div.active keyframes fade to {
  opacity: 1;
}
#projets .projets__content .cont-btn {
  width: 99, 5%;
  height: auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
}
#projets .projets__content .cont-btn .btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}
#projets .projets__content__shadow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background: #000;
}

/********** Footer **********/
#footer {
  width: 100vw;
  height: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}
#footer .footer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: calc(1.2rem + 0.2vw);
}
#footer .footer__content ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  align-items: center;
  margin: auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 500px) {
  #footer .footer__content ul {
    grid-auto-flow: column;
  }
}
#footer .footer__content a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
#footer .footer__content a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
#footer .footer__content li:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
#footer .footer__content li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}
@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
#footer .footer__content #copyright {
  text-align: center;
  margin-top: 0;
}

/********** Media queries **********/
@media screen and (min-width: 851px) {
  #openBtn {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .navigation {
    max-width: none;
    padding: 1rem 5rem;
  }
  .menu {
    display: none;
  }
  #openBtn {
    display: block;
  }
  #accueil .accueil__content .button {
    display: none;
  }
  #presentation .presentation__content h2 {
    text-align: center;
  }
  #footer .footer__content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  header .navigation {
    max-width: none;
    padding: 1rem 2rem;
  }
  .menu {
    display: none;
  }
  #accueil .accueil__content {
    top: 55%;
  }
  #accueil .accueil__content #profile {
    max-width: 150px;
  }
  #accueil .accueil__content p {
    margin: 0 10px 60px 10px;
    font-size: calc(2rem + 0.75vw);
  }
  #presentation .presentation__content {
    top: 55%;
    width: 75%;
  }
  #presentation .presentation__content h2 {
    font-size: calc(2rem + 0.75vw);
  }
  #presentation .presentation__content p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */