@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Font
$font-title: 'Italiana', serif;
$font-body: 'Lato', sans-serif;

// Background colors
$background-dark: #000;
$background-light: #fffce6;

// Text colors
$white: #fff;

// Both
$rainbow: linear-gradient(to bottom, #ffbe0b, #ffa11b, #ff832e, #ff6441, #ff4553, #ff346c, #fc2987, #f12ca2, #d949c5, #b662e1, #8676f5, #3a86ff);

// Cards
$card: #3c3163;
$transition-time: 0.5s;
$bg-filter-opacity: 0.5;